<!DOCTYPE html>
<html lang="en">
<head>
    <title>Page title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap">
    <link rel="stylesheet" href="css/tailwind/tailwind.min.css">
    <link rel="icon" type="image/png" sizes="32x32" href="shuffle-for-tailwind.png">
    <script src="js/main.js"></script>
</head>
<body class="antialiased bg-body text-body font-body">
    <div class="">
                
      <section class="relative">
        <nav class="flex justify-between bg-gray-100 border-b">
          <div class="px-12 py-8 flex w-full items-center">
            <a class="lg:mr-8 2xl:mr-20 text-3xl font-bold font-heading" href="#">
              <img class="h-9" src="yofte-assets/logos/yofte-logo.svg" alt="" width="auto">
            </a>
            <div class="hidden xl:flex max-w-xs py-3 pl-8 pr-2 bg-white rounded-lg">
              <svg class="w-8 h-10 mr-2" width="18" height="18" viewbox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.5 17.1309L12.5042 11.9551" stroke="black" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M7.27524 13.8672C10.8789 13.8672 13.8002 10.945 13.8002 7.34033C13.8002 3.73565 10.8789 0.813477 7.27524 0.813477C3.67159 0.813477 0.750244 3.73565 0.750244 7.34033C0.750244 10.945 3.67159 13.8672 7.27524 13.8672Z" stroke="black" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
              <input class="w-full border-0 focus:ring-transparent focus:outline-none py-2" type="text" placeholder="">
              <select class="pl-6 pr-6 border-0 border-l border-gray-100 focus:border-gray-100 focus:ring-transparent focus:outline-none cursor-pointer" name="" id="">
                <option>All items</option>
                <option>Collection</option>
                <option>Option</option>
              </select>
            </div>
            <ul class="hidden xl:flex px-4 mx-auto font-semibold font-heading">
              <li class="mr-12"><a class="hover:text-gray-600" href="#">Category</a></li>
              <li class="mr-12"><a class="hover:text-gray-600" href="#">Collection</a></li>
              <li class="mr-12"><a class="hover:text-gray-600" href="#">Story</a></li>
              <li><a class="hover:text-gray-600" href="#">Brand</a></li>
            </ul>
            <div class="hidden xl:flex items-center">
              <a class="mr-10 hover:text-gray-600" href="#">
                <svg width="23" height="20" viewbox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M11.4998 19.2061L2.70115 9.92527C1.92859 9.14433 1.41864 8.1374 1.24355 7.04712C1.06847 5.95684 1.23713 4.8385 1.72563 3.85053V3.85053C2.09464 3.10462 2.63366 2.45803 3.29828 1.96406C3.9629 1.47008 4.73408 1.14284 5.5483 1.00931C6.36252 0.875782 7.19647 0.939779 7.98144 1.19603C8.7664 1.45228 9.47991 1.89345 10.0632 2.48319L11.4998 3.93577L12.9364 2.48319C13.5197 1.89345 14.2332 1.45228 15.0182 1.19603C15.8031 0.939779 16.6371 0.875782 17.4513 1.00931C18.2655 1.14284 19.0367 1.47008 19.7013 1.96406C20.3659 2.45803 20.905 3.10462 21.274 3.85053V3.85053C21.7625 4.8385 21.9311 5.95684 21.756 7.04712C21.581 8.1374 21.071 9.14433 20.2984 9.92527L11.4998 19.2061Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </a>
              <a class="flex items-center hover:text-gray-600" href="#">
                <svg class="mr-3" width="23" height="23" viewbox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M18.1159 8.72461H2.50427C1.99709 8.72461 1.58594 9.12704 1.58594 9.62346V21.3085C1.58594 21.8049 1.99709 22.2074 2.50427 22.2074H18.1159C18.6231 22.2074 19.0342 21.8049 19.0342 21.3085V9.62346C19.0342 9.12704 18.6231 8.72461 18.1159 8.72461Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M6.34473 6.34469V4.95676C6.34473 3.85246 6.76252 2.79338 7.5062 2.01252C8.24988 1.23165 9.25852 0.792969 10.3102 0.792969C11.362 0.792969 12.3706 1.23165 13.1143 2.01252C13.858 2.79338 14.2758 3.85246 14.2758 4.95676V6.34469" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <span class="inline-block w-6 h-6 text-center bg-white rounded-full font-semibold font-heading">3</span>
              </a>
            </div>
          </div>
          <button class="flex-shrink-0 hidden xl:block px-8 border-l">
            <div class="flex items-center">
              <img class="w-9 h-9 object-cover mr-2" src="yofte-assets/elements/avatar.svg" alt="">
              <span class="mr-2 font-medium">Robert</span>
              <span>
                <svg width="10" height="6" viewbox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.66797 1.66699L5.0013 5.00033L8.33464 1.66699" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </span>
            </div>
          </button>
          <a class="xl:hidden flex mr-6 items-center text-gray-600" href="#">
            <svg class="mr-2" width="23" height="23" viewbox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M18.1159 8.72461H2.50427C1.99709 8.72461 1.58594 9.12704 1.58594 9.62346V21.3085C1.58594 21.8049 1.99709 22.2074 2.50427 22.2074H18.1159C18.6231 22.2074 19.0342 21.8049 19.0342 21.3085V9.62346C19.0342 9.12704 18.6231 8.72461 18.1159 8.72461Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M6.34473 6.34469V4.95676C6.34473 3.85246 6.76252 2.79338 7.5062 2.01252C8.24988 1.23165 9.25852 0.792969 10.3102 0.792969C11.362 0.792969 12.3706 1.23165 13.1143 2.01252C13.858 2.79338 14.2758 3.85246 14.2758 4.95676V6.34469" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
            <span class="inline-block w-6 h-6 text-center bg-white rounded-full font-semibold font-heading">3</span>
          </a>
          <a class="navbar-burger self-center mr-12 xl:hidden" href="#">
            <svg width="20" height="12" viewbox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 2H19C19.2652 2 19.5196 1.89464 19.7071 1.70711C19.8946 1.51957 20 1.26522 20 1C20 0.734784 19.8946 0.48043 19.7071 0.292893C19.5196 0.105357 19.2652 0 19 0H1C0.734784 0 0.48043 0.105357 0.292893 0.292893C0.105357 0.48043 0 0.734784 0 1C0 1.26522 0.105357 1.51957 0.292893 1.70711C0.48043 1.89464 0.734784 2 1 2ZM19 10H1C0.734784 10 0.48043 10.1054 0.292893 10.2929C0.105357 10.4804 0 10.7348 0 11C0 11.2652 0.105357 11.5196 0.292893 11.7071C0.48043 11.8946 0.734784 12 1 12H19C19.2652 12 19.5196 11.8946 19.7071 11.7071C19.8946 11.5196 20 11.2652 20 11C20 10.7348 19.8946 10.4804 19.7071 10.2929C19.5196 10.1054 19.2652 10 19 10ZM19 5H1C0.734784 5 0.48043 5.10536 0.292893 5.29289C0.105357 5.48043 0 5.73478 0 6C0 6.26522 0.105357 6.51957 0.292893 6.70711C0.48043 6.89464 0.734784 7 1 7H19C19.2652 7 19.5196 6.89464 19.7071 6.70711C19.8946 6.51957 20 6.26522 20 6C20 5.73478 19.8946 5.48043 19.7071 5.29289C19.5196 5.10536 19.2652 5 19 5Z" fill="#8594A5"></path>
            </svg>
          </a>
        </nav>
        <div class="hidden navbar-menu fixed top-0 left-0 bottom-0 w-5/6 max-w-sm z-50">
          <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
          <nav class="relative flex flex-col py-6 px-6 w-full h-full bg-white border-r overflow-y-auto">
            <div class="flex items-center mb-8">
              <a class="mr-auto text-3xl font-bold font-heading" href="#">
                <img class="h-9" src="yofte-assets/logos/yofte-logo.svg" alt="" width="auto">
              </a>
              <button class="navbar-close">
                <svg class="h-2 w-2 text-gray-500 cursor-pointer" width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9.00002 1L1 9.00002M1.00003 1L9.00005 9.00002" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </button>
            </div>
            <div class="flex mb-8 justify-between">
              <button>
                <div class="flex items-center">
                  <img class="w-9 h-9 object-cover mr-2" src="yofte-assets/elements/avatar.svg" alt="">
                  <span class="mr-2 font-medium">Robert</span>
                  <span>
                    <svg width="10" height="6" viewbox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1.66797 1.66699L5.0013 5.00033L8.33464 1.66699" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                  </span>
                </div>
              </button>
              <div class="flex items-center">
                <a class="mr-10" href="#">
                  <svg width="23" height="20" viewbox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.4998 19.2061L2.70115 9.92527C1.92859 9.14433 1.41864 8.1374 1.24355 7.04712C1.06847 5.95684 1.23713 4.8385 1.72563 3.85053V3.85053C2.09464 3.10462 2.63366 2.45803 3.29828 1.96406C3.9629 1.47008 4.73408 1.14284 5.5483 1.00931C6.36252 0.875782 7.19647 0.939779 7.98144 1.19603C8.7664 1.45228 9.47991 1.89345 10.0632 2.48319L11.4998 3.93577L12.9364 2.48319C13.5197 1.89345 14.2332 1.45228 15.0182 1.19603C15.8031 0.939779 16.6371 0.875782 17.4513 1.00931C18.2655 1.14284 19.0367 1.47008 19.7013 1.96406C20.3659 2.45803 20.905 3.10462 21.274 3.85053V3.85053C21.7625 4.8385 21.9311 5.95684 21.756 7.04712C21.581 8.1374 21.071 9.14433 20.2984 9.92527L11.4998 19.2061Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </a>
                <a class="flex items-center" href="#">
                  <svg class="mr-3" width="23" height="23" viewbox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18.1159 8.72461H2.50427C1.99709 8.72461 1.58594 9.12704 1.58594 9.62346V21.3085C1.58594 21.8049 1.99709 22.2074 2.50427 22.2074H18.1159C18.6231 22.2074 19.0342 21.8049 19.0342 21.3085V9.62346C19.0342 9.12704 18.6231 8.72461 18.1159 8.72461Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M6.34473 6.34469V4.95676C6.34473 3.85246 6.76252 2.79338 7.5062 2.01252C8.24988 1.23165 9.25852 0.792969 10.3102 0.792969C11.362 0.792969 12.3706 1.23165 13.1143 2.01252C13.858 2.79338 14.2758 3.85246 14.2758 4.95676V6.34469" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                  <span class="inline-block w-6 h-6 text-center bg-gray-100 rounded-full font-semibold font-heading">3</span>
                </a>
              </div>
            </div>
            <input class="block mb-10 py-5 px-8 bg-gray-100 rounded-md border-transparent focus:ring-blue-300 focus:border-blue-300 focus:outline-none" type="search" placeholder="Search">
            <ul class="text-3xl font-bold font-heading">
              <li class="mb-8"><a href="#">Category</a></li>
              <li class="mb-8"><a href="#">Collection</a></li>
              <li class="mb-8"><a href="#">Story</a></li>
              <li><a href="#">Brand</a></li>
            </ul>
          </nav>
        </div>
      </section>
                
      <section class="relative py-20 bg-gray-100">
        <div class="absolute top-0 left-0 w-full lg:w-2/5 h-64 lg:h-full bottom-0 bg-blue-300">
          <img class="absolute bottom-0 left-0 w-1/2 lg:w-auto" src="yofte-assets/elements/lines-order.svg" alt="">
          <img class="w-1/2 ml-auto lg:ml-0 lg:w-full h-full lg:h-auto object-cover" src="yofte-assets/images/placeholder-order.png" alt="">
        </div>
        <div class="mt-64 lg:mt-0 py-16 bg-white">
          <div class="container mx-auto px-4">
            <div class="flex items-end justify-end">
              <div class="w-full lg:w-3/5 lg:pl-20 lg:ml-auto">
                <h2 class="mb-8 text-5xl font-bold font-heading">Thanks for ordering</h2>
                <p class="mb-12 text-gray-500">Your payment went through</p>
                <div class="flex flex-wrap mb-12">
                  <div class="mr-20">
                    <h3 class="text-gray-600">Order Number</h3>
                    <p class="text-blue-300 font-bold font-heading">XYZ0864395</p>
                  </div>
                  <div class="mr-auto">
                    <h3 class="text-gray-600">Date</h3>
                    <p class="text-blue-300 font-bold font-heading">June 05, 2021</p>
                  </div>
                  <a class="inline-flex mt-6 md:mt-0 w-full lg:w-auto justify-center items-center py-4 px-6 border hover:border-gray-500 rounded-md font-bold font-heading" href="#">
                    <svg width="16" height="20" viewbox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1 1V0.25C0.585786 0.25 0.25 0.585786 0.25 1L1 1ZM15 19V19.75C15.4142 19.75 15.75 19.4142 15.75 19H15ZM1 19H0.25C0.25 19.4142 0.585786 19.75 1 19.75L1 19ZM10 1L10.5303 0.46967C10.3897 0.329018 10.1989 0.25 10 0.25V1ZM15 6H15.75C15.75 5.80109 15.671 5.61032 15.5303 5.46967L15 6ZM15 18.25H1V19.75H15V18.25ZM1.75 19V1H0.25V19H1.75ZM1 1.75H10V0.25H1V1.75ZM14.25 6V19H15.75V6H14.25ZM9.46967 1.53033L14.4697 6.53033L15.5303 5.46967L10.5303 0.46967L9.46967 1.53033ZM8.25 1V5H9.75V1H8.25ZM11 7.75H15V6.25H11V7.75ZM8.25 5C8.25 6.51878 9.48122 7.75 11 7.75V6.25C10.3096 6.25 9.75 5.69036 9.75 5H8.25Z" fill="black"></path>
                    </svg>
                    <span class="ml-4">View Invoice</span>
                  </a>
                </div>
                <div class="mb-6 p-10 shadow-xl">
                  <div class="flex flex-wrap items-center -mx-4">
                    <div class="w-full lg:w-2/6 px-4 mb-8 lg:mb-0">
                      <img class="w-full h-32 object-contain" src="yofte-assets/images/waterbottle.png" alt="">
                    </div>
                    <div class="w-full lg:w-4/6 px-4">
                      <div class="flex">
                        <div class="mr-auto">
                          <h3 class="text-xl font-bold font-heading">BRILE water filter carafe</h3>
                          <p class="text-gray-500">Maecenas 0.7 commodo sit</p>
                          <p class="text-gray-500">
                            <span>Quantity:</span>
                            <span class="text-gray-900 font-bold font-heading">6</span>
                          </p>
                        </div>
                        <span class="text-2xl font-bold font-heading text-blue-300">$29.89</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mb-6 p-10 shadow-xl">
                  <div class="flex flex-wrap items-center -mx-4">
                    <div class="w-full lg:w-2/6 px-4 mb-8 lg:mb-0">
                      <img class="w-full h-32 object-contain" src="yofte-assets/images/waterbottle.png" alt="">
                    </div>
                    <div class="w-full lg:w-4/6 px-4">
                      <div class="flex">
                        <div class="mr-auto">
                          <h3 class="text-xl font-bold font-heading">BRILE water filter carafe</h3>
                          <p class="text-gray-500">Maecenas 0.7 commodo sit</p>
                          <p class="text-gray-500">
                            <span>Quantity:</span>
                            <span class="text-gray-900 font-bold font-heading">6</span>
                          </p>
                        </div>
                        <span class="text-2xl font-bold font-heading text-blue-300">$29.89</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mb-10 p-10 shadow-xl">
                  <div class="flex flex-wrap items-center -mx-4">
                    <div class="w-full lg:w-2/6 px-4 mb-8 lg:mb-0">
                      <img class="w-full h-32 object-contain" src="yofte-assets/images/waterbottle.png" alt="">
                    </div>
                    <div class="w-full lg:w-4/6 px-4">
                      <div class="flex">
                        <div class="mr-auto">
                          <h3 class="text-xl font-bold font-heading">BRILE water filter carafe</h3>
                          <p class="text-gray-500">Maecenas 0.7 commodo sit</p>
                          <p class="text-gray-500">
                            <span>Quantity:</span>
                            <span class="text-gray-900 font-bold font-heading">6</span>
                          </p>
                        </div>
                        <span class="text-2xl font-bold font-heading text-blue-300">$29.89</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mb-10">
                  <div class="py-3 px-10 bg-gray-100 rounded-full">
                    <div class="flex justify-between">
                      <span class="font-medium">Subtotal</span>
                      <span class="font-bold font-heading">$89.67</span>
                    </div>
                  </div>
                  <div class="py-3 px-10 rounded-full">
                    <div class="flex justify-between">
                      <span class="font-medium">Shipping</span>
                      <span class="font-bold font-heading">$11.00</span>
                    </div>
                  </div>
                  <div class="py-3 px-10 bg-gray-100 rounded-full">
                    <div class="flex justify-between">
                      <span class="font-medium">Tax</span>
                      <span class="font-bold font-heading">$0.00</span>
                    </div>
                  </div>
                  <div class="py-3 px-10 rounded-full">
                    <div class="flex justify-between">
                      <span class="text-base md:text-xl font-bold font-heading">Order Total</span>
                      <span class="font-bold font-heading">$100.67</span>
                    </div>
                  </div>
                </div>
                <div class="mb-10 py-10 px-4 bg-gray-100">
                  <div class="flex flex-wrap justify-around -mx-4">
                    <div class="w-full md:w-auto px-4 mb-6 md:mb-0">
                      <h4 class="mb-6 font-bold font-heading">Delivery Address</h4>
                      <p class="text-gray-500">Morgan S Hembree</p>
                      <p class="text-gray-500">4767 Woodland Terrace</p>
                      <p class="text-gray-500">California, CA 95821</p>
                    </div>
                    <div class="w-full md:w-auto px-4 mb-6 md:mb-0">
                      <h4 class="mb-6 font-bold font-heading">Shipping Informations</h4>
                      <p class="text-gray-500">morgan@shuffleux.com</p>
                      <p class="text-gray-500">916-971-2145</p>
                    </div>
                    <div class="w-full md:w-auto px-4">
                      <h4 class="mb-6 font-bold font-heading">Payment Informations</h4>
                      <p class="text-gray-500">Mastercard</p>
                      <p class="text-gray-500">Ending with 4242</p>
                      <p class="text-gray-500">Expires 02 / 28</p>
                    </div>
                  </div>
                </div>
                <a class="block text-center px-8 py-4 bg-orange-300 hover:bg-orange-400 text-white font-bold font-heading uppercase rounded-md transition duration-200" href="#">Go back Shopping</a>
              </div>
            </div>
          </div>
        </div>
      </section>
                
      <section class="py-20 bg-blue-300">
        <div class="container mx-auto px-4">
          <div class="flex flex-wrap -mx-4 pb-6 lg:pb-16 border-b border-gray-400">
            <div class="w-full lg:w-3/5 px-4 mb-20">
              <div class="flex flex-wrap -mx-4">
                <div class="w-full md:w-1/2 lg:w-1/3 px-4 mb-10 lg:mb-0">
                  <h3 class="mb-8 text-xl font-bold font-heading text-white">Information</h3>
                  <ul>
                    <li class="mb-6"><a class="text-gray-50 hover:text-gray-200" href="#">Newsroom</a></li>
                    <li class="mb-6"><a class="text-gray-50 hover:text-gray-200" href="#">Story</a></li>
                    <li class="mb-6"><a class="text-gray-50 hover:text-gray-200" href="#">Yofte Careers</a></li>
                    <li class="mb-6"><a class="text-gray-50 hover:text-gray-200" href="#">Investor Relations</a></li>
                    <li class="mb-6"><a class="text-gray-50 hover:text-gray-200" href="#">Reward program</a></li>
                    <li class="mb-6"><a class="text-gray-50 hover:text-gray-200" href="#">Delivery information</a></li>
                    <li><a class="text-gray-50 hover:text-gray-200" href="#">Paying by invoice</a></li>
                  </ul>
                </div>
                <div class="w-full md:w-1/2 lg:w-1/3 px-4 mb-10 lg:mb-0">
                  <h3 class="mb-8 text-xl font-bold font-heading text-white">Customer Service</h3>
                  <ul>
                    <li class="mb-6"><a class="text-gray-50 hover:text-gray-200" href="#">Return an order</a></li>
                    <li class="mb-6"><a class="text-gray-50 hover:text-gray-200" href="#">Search Terms</a></li>
                    <li class="mb-6"><a class="text-gray-50 hover:text-gray-200" href="#">Advanced Search</a></li>
                    <li class="mb-6"><a class="text-gray-50 hover:text-gray-200" href="#">Orders and Returns</a></li>
                    <li class="mb-6"><a class="text-gray-50 hover:text-gray-200" href="#">FAQs</a></li>
                    <li class="mb-6"><a class="text-gray-50 hover:text-gray-200" href="#">Store Location</a></li>
                    <li><a class="text-gray-50 hover:text-gray-200" href="#">Contact Us</a></li>
                  </ul>
                </div>
                <div class="w-full md:w-1/2 lg:w-1/3 px-4 mb-4">
                  <h3 class="mb-8 text-xl text-white font-bold font-heading">Contact Us</h3>
                  <ul>
                    <li class="mb-6">
                      <h4 class="mb-2 text-gray-50">Mobile</h4>
                      <a class="text-white hover:underline" href="#">+39 4097 533 32 331</a>
                    </li>
                    <li class="mb-6">
                      <h4 class="mb-2 text-gray-50">Email</h4>
                      <a class="text-white hover:underline" href="#">hi@yoftestore.com</a>
                    </li>
                    <li>
                      <h4 class="mb-2 text-gray-50">Live Chat</h4>
                      <a class="text-white hover:underline" href="#">yoftestore</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="w-full lg:w-2/5 px-4 order-first lg:order-1 mb-20">
              <h3 class="mb-6 text-xl text-white font-bold font-heading">Join our Newsletter</h3>
              <p class="mb-8 text-xl text-yellow-500 font-bold font-heading">News, sales:</p>
              <div class="mb-6 relative lg:max-w-xl lg:mx-auto bg-white rounded-lg">
                <div class="relative flex flex-wrap items-center justify-between">
                  <div class="relative flex-1">
                    <span class="absolute top-0 left-0 ml-8 mt-4 font-semibold font-heading text-xs text-gray-400">Drop your e-mail</span>
                    <input class="inline-block w-full pt-8 pb-4 px-8 placeholder-gray-900 border-0 focus:ring-transparent focus:outline-none rounded-md" type="text" placeholder="steven@example.dev">
                  </div>
                  <a class="inline-block w-auto bg-orange-300 hover:bg-orange-400 text-white font-bold font-heading py-6 px-8 rounded-md uppercase text-center" href="#">Join</a>
                </div>
              </div>
              <p class="text-gray-200">The brown fox jumps over the lazy dog.</p>
            </div>
            <div class="w-full px-4 flex flex-wrap justify-between lg:order-last">
              <div class="w-full md:w-auto mb-4 md:mb-0 flex flex-wrap">
                <img class="mr-4 mb-2" src="yofte-assets/brands/visa.svg" alt="">
                <img class="mr-4 mb-2" src="yofte-assets/brands/paypal.svg" alt="">
                <img class="mb-2" src="yofte-assets/brands/mastercard.svg" alt="">
              </div>
              <div class="w-full md:w-auto flex">
                <a class="inline-flex items-center justify-center w-12 h-12 mr-2 rounded-full" href="#">
                  <img src="yofte-assets/buttons/facebook-white-circle.svg" alt="">
                </a>
                <a class="inline-flex items-center justify-center w-12 h-12 mr-2 rounded-full" href="#">
                  <img src="yofte-assets/buttons/instagram-circle.svg" alt="">
                </a>
                <a class="inline-flex items-center justify-center w-12 h-12 rounded-full" href="#">
                  <img src="yofte-assets/buttons/twitter-circle.svg" alt="">
                </a>
              </div>
            </div>
          </div>
          <div class="pt-14 flex items-center justify-center">
            <a class="inline-block mr-4 text-white text-2xl font-bold font-heading" href="#">
              <img class="h-7" src="yofte-assets/logos/yofte-logo-white.svg" alt="" width="auto">
            </a>
            <p class="inline-block text-sm text-gray-200">© Copyright 2021 Yofte</p>
          </div>
        </div>
      </section>
    </div>
</body>
</html>

